# Tutorial dan basic penggunaan map()

#### Understanding map()
##### maps() akan melooping item dari inputan list atau variable dan mengembalikannya ke iterator yang menghasilkan dari pengaplikasian transformasi method ke setiap item inputan asli dari iterable atau list

- ##### inisialisasi dari sebuah map harus menggunakan method `map()`
- ##### di dalam documentasi `map()`. dia mengambil sebuah method dan iterator atau lebih dari iterator sebagai arguments dan mengembalikan sebuah iterator yang berisi item yang ditransformasikan
- ##### deklarasi dari `map()` sebagai berikut
    ##### `map(function, iterable[, iterable1, iterable2,..., iterableN])`

- ##### menjumlahkan semua value dalam index tanpa menggunakan `map()`

In [1]:
numbers = [1, 2, 3, 4, 5]
squared = []

for num in numbers:
    squared.append(num ** 2)

squared

[1, 4, 9, 16, 25]

- ##### menjumlahkan value di dalam index menggunakan map()

- ##### exercise 1 : basic concept dengan mengembalikan pure function ke dalam map()

In [3]:
def square(numbers):
    return numbers ** 3

numbers = [2, 1, 3, 4, 5]
squared = map(square, numbers)
list(squared)

[8, 1, 27, 64, 125]

- ##### exercise 2 : melakukan penjumlahan items list dengan lamda expressions

In [32]:

numbers = [1, 2, 3, 4, 7, 1, 8, 9, 0]
sortnumbers = list(map(lambda x : x % 2 ==0, numbers))
sortnumbers

[False, True, False, True, False, False, True, False, True]

- ##### exercise 3 : sorting menggunakan algoritma buble sort

In [59]:
def sort_tuples(courses):
    lst = []
    courses = len(lst)
    for i in range(0, courses):
        for j in range(0, courses - i - 1):
            if(lst[j][1] > lst[j + 1][1]):
                temp = lst[j]
                lst[j] = lst[j + 1]
                lst[j + 1] = temp
    return lst

numbers = [(2, 3), (1, 4), (5, 6)]
sortnum = map(sort_tuples, numbers)
list(sortnum)

[[], [], []]

- ##### exercise 4 : menggunakan map() dengan beberapa function berbeda

In [60]:
numbers = [-2, -1, 0, 1, 2]
abs_values = list(map(abs, numbers))
abs_values

#convert integer to float
list(map(float, numbers))

words = ["welcome", "to", "aufklarung"]
list(map(len, words))

[7, 2, 10]

- ##### exercise 5 : convert string ke integer

In [100]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]
int_nums = list(map(int, str_nums))
int_nums
str_numsagains = list(map(str, int_nums))
str_numsagains
# str_nums

['4', '8', '6', '5', '3', '2', '8', '9', '2', '5']

- ##### exercise 6 : menjumlahkan kedua buah list

In [114]:
list1 = [1, 2, 3, 1]
list2 = [1, 2, 3]
list(map(lambda x, y : x ** y, list1, list2))

[1, 4, 27]

- ##### exercise 7 : mengurangkan kedua buah list menggunakan lambda expressions

In [69]:
list(map(lambda x, y : x - y, [2, 4, 6], [1, 3, 4]))

[1, 1, 2]

In [127]:
def ident(x):
    x = str
    return x.capitalize
string_it = ["processing", "strings", "with", "map"]
# list(map(str.capitalize, string_it))
list(map(lambda x = str : x.capitalize, string_it))

[<function str.capitalize()>,
 <function str.capitalize()>,
 <function str.capitalize()>,
 <function str.capitalize()>]

In [125]:
with_dots = ["processing..", "...strings", "with....", "..map.."]
list(map(lambda s: s.strip("."), with_dots))

['processing', 'strings', 'with', 'map']